<h1>To-Do List</h1>

<%= link_to "New Todo", new_todo_path %>

<h2>Filter by Tag:</h2>
<div class="tags">
  <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, todos_path(tag: tag.name) %></li>
    <% end %>
  </ul>
</div>

<ul>
  <% @todos.each do |todo| %>
    <li>
    <strong><%= todo.priority || "Unspecified" %></strong> <%= todo.title %> - <%= todo.completed ? "Completed" : "Pending" %>      <% if todo.tags.any? %>
        Tags: <%= todo.tags.map(&:name).join(", ") %>
      <% end %>
      <%= link_to "Edit", edit_todo_path(todo) %> |
      <%= form_with(url: todo_path(todo), method: :delete, data: { confirm: "Are you sure?" }, local: true) do %>
        <%= submit_tag "Delete", style: "background:none; border:none; color:blue; cursor:pointer;" %>
      <% end %>  <!-- Close the form_with block here -->
    </li>
  <% end %>  <!-- Close the @todos.each loop -->
</ul>
