<h1>New To-Do</h1>

<%= form_with model: @todo, local: true do |form| %>
  <% if @todo.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>
      <ul>
        <% @todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit "Create To-Do" %>
  </div>
<% end %>

<%= link_to 'Back', todos_path %>
